.list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 25px;
}

.item_active {
  & .item__wrapper,
  & .item__description {
    background-color: #adc22a;
  }
}

.item__wrapper,
.item__description {
  border-radius: 8px;

  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.item__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 22px;
  padding: 20px 25px;
  cursor: pointer;
  user-select: none;
}

.item__description {
  margin-top: 8px;
  padding: 30px 20px;
}

.item__description-title {
  font-family: "Raleway, sans-serif";
  font-weight: 600;
  font-size: 19px;
  color: #383736;
  text-transform: uppercase;

  &::after {
    content: ":";
  }

  &:not(:first-child) {
    margin-top: 15px;
  }
}

.select {
  margin-top: 10px;
  width: 100%;

  background-color: #ffffff;
}
